// css-nesting-module specific stylings here.

// default page level style may come here. _preview.css is most appropriate for general styles.

#app .parent div {
  border: 1px dashed brown;
  padding: 5px;
  margin: 5px;
}

.parent .sibling {
  ol,
  ul {
    > li {
      margin: 2px 0;

      #app.dark-theme & {
        color: white;
        background-color: black;
      }

      &:first-of-type {
        margin-top: 32px;
      }

      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}

// quiz app
.app--quiz {
  code {
    display: inline;
    font-family: Consolas, Monaco, monospace;
    font-size: 10pt;
    overflow-x: auto;
    padding: 0.5em;
    scrollbar-width: thin;
    -moz-tab-size: 2;
    tab-size: 2;
    overflow-x: auto;
    color: #2f3337;
    background: none;
    border: none;
    padding: .5em;
  }
}

.question{
  font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}